* text=auto
*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.ioc text eol=lf
*.s text eol=lf
*.S text eol=lf
*.bin binary
*.elf binary
*.hex text eol=lf
*.otf binary
*.ttf binary
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
